@model List<ExpenseTracker.MVC.Models.Income>

<h2 class="text-center fw-bold mb-4">All Income</h2>
<div class="d-flex justify-content-center gap-3 mb-4"> 
<a href="/Expenses/Dashboard" class="btn btn-info text-black px-4"> 
📊 View Dashboard 
</a> 
</div>

<a asp-action="Create" class="btn btn-primary mb-3">+ Add Income</a>

<table class="table table-modern">
    <thead class="table-light">
        <tr>
            <th>Source</th>
            <th>Amount</th>
            <th>Date</th>
            <th style="width:150px;">Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td>@i.Source</td>
                <td>₹@i.Amount</td>
                <td>@i.Date.ToString("dd-MM-yyyy")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@i.Id" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-action="Delete" asp-route-id="@i.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
